*.mk
sdk-artifacts
artifacts/bootstrap.zip
artifacts/dcos-service-cli*
artifacts/ethereum-scheduler.zip
artifacts/geth-scripts.zip
assets/bootnode
assets/bootstrap_geth
assets/geth
assets/jq
./bootstrap_geth
geth-alltools-linux-amd64-*
jq
.gopath
.gradle
.meghanada
.DS_Store
_*
